:root {
  --primary-bg-clr: hsl(48, 71%, 99%);
  --secondary-bg-clr: hsl(240, 100%, 5%);
  --accent-bg-clr: hsl(2, 87%, 64%);

  --primary-nav-bg: hsl(280, 2%, 71%);
  --primary-text-clr: hsl(244, 82%, 6%);
  --secondary-text-clr: hsl(36, 71%, 62%);

  --ff-primary: Roboto, sans-serif;
  --primary-disabled-text-clr: rgba(0, 0, 0, 0.5);
}
body {
  background-color: var(--primary-bg-clr);
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
     
}

header {
  display: flex;
  justify-content: flex-end;
  img{
    max-width: 100%;
  }
  
  > button {
    background-color: var(--primary-bg-clr);
    color: var(--primary-nav-bg);
    border: none;
  
    font-size: 20px;
    
  }
}
section {
    display: flex;
  h2{
    font-size: 50px;
    outline: 2px solid red;
    
   
  }
  p{
  
    outline: 2px solid yellow;
  }
  /* display: flex;
  outline: 2px solid red;
  gap: 16px; */
}
