:root {
  --primary-bg-clr:hsl(48, 71%, 99%);
  --secondary-bg-clr: hsl(240, 100%, 5%);
  --accent-bg-clr: hsl(2, 87%, 64%);

   --primary-nav-bg:hsl(280, 2%, 71%);
  --primary-text-clr: hsl(244, 82%, 6%);
  --secondary-text-clr: hsl(36, 71%, 62%);

  --ff-primary: Roboto, sans-serif;
  --primary-disabled-text-clr: rgba(0, 0, 0, 0.5);
}
